<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<!-- 쿼리만 작성하면 되는 편리함이 있는 반면 누구나 쿼리를 수정할 수 있다는 단점이 있다. -->
<mapper namespace="Board">

	<!-- 데이터 삽입 -->
    <insert id="save" parameterType="board">
        insert into board_table(boardWriter, boardPass, boardTitle, boardContents)
        values (#{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents})
    </insert>
    
    <!-- 데이터 전체 검색 -->
    <select id="findAll" resultType="board">
    	select id, boardWriter, boardPass, boardTitle, boardContents, boardCreatedTime, boardHits, fileAttached from board_table order by id desc
    </select>
    
    <!-- 게시글 하나만 검색 -->
    <select id="findById" parameterType="Long" resultType="board">
    	select id, boardWriter, boardPass, boardTitle, boardContents, boardCreatedTime, boardHits, fileAttached
    	from board_table where id = ${id};
    </select>
    
    <!-- 조회수 증가 -->
    <update id="updateHits" parameterType="Long">
    	update board_table set boardHits = boardHits + 1 where id = ${id};
    </update>
    
    <!-- 게시글 삭제 -->
    <delete id="delete" parameterType="Long">
    	delete from board_table where id=#{id};
    </delete>
    
    <!-- 게시글 수정 -->
    <update id="update" parameterType="board">
    	update board_table set boardWriter = #{boardWriter}, boardTitle = #{boardTitle}, boardContents = #{boardContents} where id = #{id};
    </update>
    
    <!-- 페이징으로 지정된 수만큼 게시글 출력 -->
    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
    	select id, boardWriter, boardPass, boardTitle, boardContents, boardCreatedTime, boardHits, fileAttached
    	from board_table order by id desc limit #{start}, #{limit}; 
    </select>
    
    <select id="boardCount" resultType="Integer">
    	select count(id) from board_table;
    </select>
    
</mapper>